<div class="analytics-page">
  <div class="analytics-header">
    <h2>Analytics</h2>

    <div class="analytics-search">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="analyticsTable.filterGlobal($event.target.value, 'contains')"
          placeholder="Search metrics..."
        />
      </span>
    </div>
  </div>

  <p-table
    #analyticsTable
    [value]="getMetricsArray()"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    styleClass="p-datatable-striped"
    [loading]="loading"
    responsiveLayout="scroll"
    [globalFilterFields]="['label', 'value']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="label">
          Metric <p-sortIcon field="label"></p-sortIcon>
        </th>
        <th pSortableColumn="value">
          Value <p-sortIcon field="value"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-metric>
      <tr>
        <td>{{ metric.label }}</td>
        <td class="metric-value">{{ metric.value }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2" class="empty-message">
          <div class="empty-state">
            <i class="pi pi-chart-bar empty-icon"></i>
            <h3>No metrics available</h3>
            <p>Analytics data will appear here once available.</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
